type init-mac-sh, domain;
type init-mac-sh_exec, exec_type, file_type;

init_daemon_domain(init-mac-sh)
allow init-mac-sh persist_file:file create_file_perms;
allow init-mac-sh persist_file:dir create_dir_perms;
allow init-mac-sh self:capability { dac_read_search dac_override net_admin chown };
allow init-mac-sh shell_exec:file rx_file_perms;
allow init-mac-sh btnvtool_exec:file rx_file_perms;
allow init-mac-sh toolbox_exec:file rx_file_perms;
allow init-mac-sh persist_bluetooth_file:file create_file_perms;
allow init-mac-sh persist_bluetooth_file:dir create_dir_perms;
