allow kernel platform_app:process setsched;
allow kernel system_app:process setsched;
allow kernel priv_app:process setsched;
allow kernel untrusted_app:process setsched;
